<p>¡Hola!</p>
<p>Haz click en el link de abajo para verificar tu correo, de esa forma podrás empezar a usar Ongaku
<p>
  <a href="{{ url }}">Verifica tu cuenta</a>
</p>

<p>Si no solicitaste este correo, puedes ignorarlo.</p>